
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#main{
    width:100%;
    height:100%;background-color: black;
    padding: 30px;
   background-image: url(https://images.unsplash.com/photo-1746045470133-00c22b9c9911?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-position: center;
 background-size: cover;
}
#car1{
height: 20%;
width: 20%;
background-color: rgb(15, 15, 83);
}
#car2{
    position: absolute;
height: 25%;
width: 23%;
background-color: rgb(72, 72, 111);
}
#car3{
height: 40%;
width: 30%;
background-color: rgb(41, 81, 126);
}
#boxx{margin-top:50px; 
    position: relative;
    height:100px;
width:100px;
background-color: rgb(128, 35, 122);
}
#chhotu{
position: absolute;
    height:40px;
    width:40px;
    background-color: rgb(148, 114, 146);
    left: 45%;
}
#box{
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    height:800px;
    width: 800px;
    background-color: rgb(90, 132, 174);
    }
#box1{
height: 120px;
width: 110px;
background-color: rgb(148, 162, 164);
}

#box3{
height: 100px;
width: 100px;
background-color: rgb(105, 128, 141);
}
#box2{
height: 130px;
width: 115px;
background-color: rgb(44, 68, 83);
}